@using Aimbys.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var isAdmin = User.IsInRole(Roles.Admin);
    <ul class="navbar-nav align-items-stretch align-items-lg-center">
        @if (isAdmin)
        {
            <li class="nav-item">
                <a class="nav-link"
                   asp-area="Admin" asp-controller="Home" asp-action="Index">
                    Admin
                </a>
            </li>
        }
        <li class="nav-item d-flex align-items-lg-center">
            <span class="navbar-text small me-lg-2">@User.Identity?.Name</span>
        </li>
        <li class="nav-item">
            <form class="d-inline" asp-controller="Account" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-light btn-sm">Sign out</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav align-items-stretch align-items-lg-center">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
